<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container mt-5">
		<h1 class="text-primary" th:text="${titulo}"></h1>
		<h1 th:if="${nombre != null}" th:text="'Bienvenido '+ ${nombre}"></h1>
		<hr>
		<a sec:authorize="hasRole('ADMIN')" th:href="@{/form}">Creal cliente</a>
		<a class="btn btn-success btn-xs float-right mx-1" th:href="@{'/listar'(format=csv)}">Descargar CSV</a>
		<a class="btn btn-success btn-xs float-right mx-1" th:href="@{'/listar'(format=json)}">Descargar JSON</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th sec:authorize="hasRole('USER')">Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Fecha</th>
					<th sec:authorize="hasRole('ADMIN')">Crear Factura</th>
					<th sec:authorize="hasRole('ADMIN')">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">
					<td sec:authorize="hasRole('USER')"><a class="btn btn-primary btn-xs" th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.createAt}"></td>
					<td sec:authorize="hasRole('ADMIN')"> 
						<a class="btn btn-warning btn-xs" th:href="@{/factura/form/} + ${cliente.id}"> Crear + </a>
					</td>
					<td sec:authorize="hasRole('ADMIN')">
						<a class="btn btn-success btn-xs" th:href="@{/form/} + ${cliente.id}">Editar</a>
						<a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${cliente.id}">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
</body>
</html>